<div class="card text-center mt-10">
    <div class="card-header">
            <span style="color: green;  ">
                    <i class="material-icons">done</i>
            </span>
            <h4  style="color:green; text-transform: capitalize;">
              Congratulations!
            </h4>

    </div>
        
        <div class="card-body">
          <h5 class="card-title">Your order has been placed.</h5>
          <p class="card-text">You will receive an email with tracking information onces your goods shipped.</p>
          <a routerLink="/" class="btn btn-primary">Go To Cart</a>
        </div>
        <div class="card-footer text-muted">
          Thank you for your purchase!
        </div>
      </div>
