<h1>Shopping Cart</h1>

<div class="row col-lg-10 col-md-12" *ngIf="cart$ as cart">
    <p>
        You have {{cart.totalItemsCount}} items in your shopping cart.
        <button 
            *ngIf="cart.items.length" 
            (click)="clearCart()"
            class="btn btn-light btn-sm">
            Clear Shopping Cart
        </button> 
    </p>
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Product</th>
                <th class="text-center">Quantity</th>
                <th class="text-right">Price</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of cart.items">
                <td>
                    <img 
                        [src]="item.product.imageUrl" 
                        class="thumbnail border border-secondary">
                </td>
                <td style="vertical-align: middle;">{{item.product.title}}</td>
                <td style="vertical-align: middle;">
                    <product-quantity
                        [product]="item.product" [shopping-cart]="cart">
                    </product-quantity>
                </td >
                <td style="vertical-align: middle;" class="text-right">{{ item.totalPrice | currency:"₹":"symbol"}}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th class="text-right">{{cart.totalPrice | currency:"₹":"symbol"}}</th>
            </tr>
        </tfoot>
    </table>
    <a
        *ngIf="cart.items.length" 
        routerLink="/check-out"
        class="btn btn-primary">
        Check Out
    </a>
</div>
