<ngx-spinner></ngx-spinner>


<div class="row" >
    <div class="col-md-3 col-12"style=" box-shadow: 0 10px 20px rgba(0,0,0,0.10), 0 6px 6px rgba(0,0,0,0.10);" >
        <product-filter [category]="category"></product-filter>
    </div>
    <br><br>
    <div class="col">
        <div class="row">
            <ng-container *ngFor="let p of filteredProducts; let i = index">
                <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                    <product-card [product]="p" [shopping-cart]="cart"> </product-card>
                </div>    
            </ng-container>
        </div>    
    </div>
</div>






